body{
  background-color: wheat;
}
.calcontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 450px;
  background-color:rgb(238, 86, 69);
  border-radius: 8%;
  margin: 0 auto;
  margin-top: 5rem;
  border: 5px solid cornflowerblue;
}
.title{
  font-weight: 600;
  margin-top: 5rem;
  text-align: center;
  color:rgb(4, 97, 97);
  font-size: 3rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 1rem;
}
.inputBar{
  font-family: cursive;
  width: auto;
  max-width: 450px;
  height: 65px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
  border: 2px solid #4b89dc;
  text-align: right;
  padding-right: 20px;
  background-color: beige;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #61dafb;
  gap: 10px;
}
.operButton{
  color: white;
  background-color: palevioletred;
  border-radius: 35px;
  border:none;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgray;
  &:active {
    box-shadow: none;
  }
}
.button{

  background-color: rgb(247, 194, 247);
  font-size: 30px;
  color: black;
  border-radius: 35px;
  border:none;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgray;
  &:active {
    box-shadow: none;
  }
}
@media (max-width: 510px) {
  .title{
   width: 100%;
   font-size: 40px; 
  }
  .calcontain{
    display: flex;
    width: 60%;
    font-size: 150%;
   
  }
  .inputBar{
    font-size: 70%;
    border: 0 auto;
  }
  .grid{
    margin-left: 20px;
    margin-right: 20px;
  }
  .button{
    font-size: 100%;
  }
}


